# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=admin@example.com
SMTP_PASSWORD=password
SMTP_MAIL_FROM=admin@example.com

# Airflow SMTP Configuration
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_TIMEOUT=60
AIRFLOW__SMTP__SMTP_USER=admin@example.com
AIRFLOW__SMTP__SMTP_PASSWORD=password
AIRFLOW__SMTP__SMTP_MAIL_FROM=admin@example.com

# Email Recipients
EMAIL_ADMIN=admin@example.com
EMAIL_DATA_TEAM=admin@example.com
EMAIL_DEV_TEAM=admin@example.com
